<a href="https://colab.research.google.com/github/Dhruvi0901/Machine-Learning/blob/main/Assignment_Question_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **5)Basic Classification Using KNN with Neighbor 3,4,5,10 And Compare the**
# **Result Using Accuracy, Sensitivity, Specificity and F1 Score**

In [5]:
## import csv file
from google.colab import files
uploaded = files.upload()

Saving winequalityN.csv - winequalityN.csv.csv to winequalityN.csv - winequalityN.csv.csv

In [6]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_csv('/content/winequalityN.csv - winequalityN.csv.csv')

In [ ]:
df.head()

    type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0  white            7.0              0.27  ...       0.45      8.8        6
1  white            6.3              0.30  ...       0.49      9.5        6
2  white            8.1              0.28  ...       0.44     10.1        6
3  white            7.2              0.23  ...       0.40      9.9        6
4  white            7.2              0.23  ...       0.40      9.9        6

[5 rows x 13 columns]

In [ ]:
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.0             0.270         0.36  ...       0.45      8.8        6
1               6.3             0.300         0.34  ...       0.49      9.5        6
2               8.1             0.280         0.40  ...       0.44     10.1        6
3               7.2             0.230         0.32  ...       0.40      9.9        6
4               7.2             0.230         0.32  ...       0.40      9.9        6
...             ...               ...          ...  ...        ...      ...      ...
6492            6.2             0.600         0.08  ...       0.58     10.5        5
6493            5.9             0.550         0.10  ...        NaN     11.2        6
6494            6.3             0.510         0.13  ...       0.75     11.0        6
6495            5.9             0.645         0.12  ...       0.71     10.2        5
6496            6.0             0.310         0.47  ...       0.66     11.0        6

[6497 rows x 12 columns]

In [ ]:
df.drop('type',axis=1,inplace = True)
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.0             0.270         0.36  ...       0.45      8.8        6
1               6.3             0.300         0.34  ...       0.49      9.5        6
2               8.1             0.280         0.40  ...       0.44     10.1        6
3               7.2             0.230         0.32  ...       0.40      9.9        6
4               7.2             0.230         0.32  ...       0.40      9.9        6
...             ...               ...          ...  ...        ...      ...      ...
6492            6.2             0.600         0.08  ...       0.58     10.5        5
6493            5.9             0.550         0.10  ...        NaN     11.2        6
6494            6.3             0.510         0.13  ...       0.75     11.0        6
6495            5.9             0.645         0.12  ...       0.71     10.2        5
6496            6.0             0.310         0.47  ...       0.66     11.0        6

[6497 rows x 12 columns]

In [ ]:
df.isnull().sum()

fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [ ]:
df1 = df.fillna(method = 'pad')
df1

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.0             0.270         0.36  ...       0.45      8.8        6
1               6.3             0.300         0.34  ...       0.49      9.5        6
2               8.1             0.280         0.40  ...       0.44     10.1        6
3               7.2             0.230         0.32  ...       0.40      9.9        6
4               7.2             0.230         0.32  ...       0.40      9.9        6
...             ...               ...          ...  ...        ...      ...      ...
6492            6.2             0.600         0.08  ...       0.58     10.5        5
6493            5.9             0.550         0.10  ...       0.58     11.2        6
6494            6.3             0.510         0.13  ...       0.75     11.0        6
6495            5.9             0.645         0.12  ...       0.71     10.2        5
6496            6.0             0.310         0.47  ...       0.66     11.0        6

[6497 rows x 12 columns]

In [ ]:
df1.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
x = df1.iloc[:, :-1].values
y = df1.iloc[:, 4].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20 )

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn import preprocessing
lab_enc = preprocessing.LabelEncoder()
train_encoded = lab_enc.fit_transform(y_train)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, train_encoded)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, train_encoded)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train, train_encoded)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [ ]:
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, train_encoded)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')